@import "vars";
@import "media";

.btn {
  font-family: var(--font-family), sans-serif;
  text-transform: capitalize;
  color: var(--white);
  padding: 15px 32px;
  width: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 52px;

  @include mobile {
    line-height: 1.29;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.25;
  }

  &_primary {
    border: 1px solid var(--main-purple);
    background-color: var(--main-purple);
    transition: ease-in-out 0.4s;

    &:hover {
      border: 1px solid var(--blue);
      background-color: var(--blue);
    }

    &:disabled {
      background-color: var(--medium-grey);
      border: 1px solid var(--medium-grey);
    }
  }

  &_primary-green {
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
    color: var(--dark-black);
    transition: ease-in-out 0.4s;

    &:hover {
      border: 1px solid var(--hover-green);
      background-color: var(--hover-green);
    }

    &:disabled {
      background-color: var(--medium-grey);
      border: 1px solid var(--medium-grey);
    }
  }

  &_secondary {
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    transition: ease-in-out 0.4s;

    &:hover {
      border: 1px solid var(--main-purple);
      background-color: var(--main-purple);
      color: var(--white) !important;
    }

    &:disabled {
      color: var(--medium-grey);
      border: 1px solid var(--medium-grey);
    }
  }

  &_secondary-black {
    border: 1px solid var(--dark-black);
    background-color: transparent;
    color: var(--dark-black);
    transition: ease-in-out 0.4s;

    &:hover {
      border: 1px solid var(--main-purple);
      background-color: var(--main-purple);
      color: var(--white);
    }

    &:disabled {
      color: var(--medium-grey);
      border: 1px solid var(--medium-grey);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1;
  }

  &__icon-arrow {
    color: currentColor;
  }
}

.contacts .icon_primary,
.icon_primary-white {
  transition: ease-in-out 0.4s;

  &:hover {
    color: var(--blue);
  }
}

.popup__content-text .contacts__list .icon-copy.icon_primary-green {
  transition: ease-in-out 0.4s;

  &:hover {
    color: var(--hover-green);
  }
}
