@import "normalize.css";
@import "reset";
@import "./../assets/fonts/icons/icons";
@import "node_modules/intl-tel-input/build/css/intlTelInput";
@import "fonts";
@import "global";
@import "components/header";
@import "components/popup";
@import "components/popup-mini";
@import "components/cta";
@import "components/testimonials";
@import "components/footer";
