<section class="cta section">
  <div class="container">
    <div class="cta__content">
      <h2 class="cta__title">Ready to Dive into <span class="text-color">Creativity?</span></h2>
      <p class="cta__description p-1">Your Vision, Our Expertise</p>
      <div class="section__action cta__action">
        <a href="https://calendly.com/hello-mfisher" target="_blank" class="btn btn_primary-green">
          <span class="btn__icon icon-calendar"></span>
          <span class="btn__text">Schedule a Meeting</span>
        </a>
        <button class="btn btn_secondary cta__btn">
          <span class="btn__text">Request Consultation</span>
          <span class="btn__icon icon-arrow-right"> </span>
        </button>
      </div>
    </div>
  </div>
</section>
