<div class="popup-mini hide" id="popup-mini">
  <div class="popup-mini__content">
    <div class="popup-mini__header">
      <button id="closePopup" class="popup-mini__close-btn popup__close">
        <span class="icon icon-close-lg"></span>
      </button>
      <img src="./assets/icons/icons-popup.svg" alt="icon" />
    </div>
    <div class="popup-mini__body">
      <h5 class="popup-mini__title">Thank you for reaching&nbsp;out!</h5>
      <p class="p-2 popup-mini__text">We've received your request and will get back to you shortly.</p>
      <a href="./index.html" class="btn btn_primary">
        <span class="btn__text">Go to Home Page</span>
        <span class="btn__icon btn__icon-arrow">
          <span class="icon-arrow-right"></span>
        </span>
      </a>
    </div>
  </div>
</div>
