@font-face {
  font-family: "icomoon";
  src: url("./icomoon.eot?qb8xg7");
  src:
    url("../assets/fonts/icons/icomoon.eot?qb8xg7#iefix") format("embedded-opentype"),
    url("../assets/fonts/icons/icomoon.ttf?qb8xg7") format("truetype"),
    url("../assets/fonts/icons/icomoon.woff?qb8xg7") format("woff"),
    url("../assets/fonts/icons/icomoon.svg?qb8xg7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
  content: "\e902";
}
.icon-warning-2:before {
  content: "\e904";
}
.icon-stickynote:before {
  content: "\e905";
}
.icon-trend-up:before {
  content: "\e906";
}
.icon-coffee:before {
  content: "\e907";
}
.icon-mouse-2:before {
  content: "\e908";
}
.icon-question:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-info:before {
  content: "\e90b";
}
.icon-tick:before {
  content: "\e90c";
}
.icon-crown:before {
  content: "\e90d";
}
.icon-star-1:before {
  content: "\e90e";
}
.icon-eye:before {
  content: "\e90f";
}
.icon-star:before {
  content: "\e910";
}
.icon-magicpen:before {
  content: "\e911";
}
.icon-lock:before {
  content: "\e912";
}
.icon-calendar:before {
  content: "\e913";
}
.icon-whatsapp:before {
  content: "\e914";
}
.icon-dribbble:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-location:before {
  content: "\e917";
}
.icon-mouse:before {
  content: "\e918";
}
.icon-call:before {
  content: "\e919";
}
.icon-rulerpen:before {
  content: "\e91b";
}
.icon-sms:before {
  content: "\e91d";
}
.icon-main-component:before {
  content: "\e91e";
}
.icon-shuffle:before {
  content: "\e91f";
}
.icon-color-swatch:before {
  content: "\e920";
}
.icon-copy:before {
  content: "\e921";
}
.icon-paintbucket:before {
  content: "\e922";
}
.icon-arrow:before {
  content: "\e923";
}
.icon-routing:before {
  content: "\e924";
}
.icon-arrow-down:before {
  content: "\e925";
}
.icon-arrow-right:before {
  content: "\e926";
}
.icon-user-search:before {
  content: "\e927";
}
.icon-user-edit:before {
  content: "\e928";
}
.icon-user-tag:before {
  content: "\e929";
}
.icon-attach:before {
  content: "\e92a";
}
.icon-accept:before {
  content: "\e903";
}
.icon-close-lg:before {
  content: "\e900";
}
.icon-location-filled:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e91a";
}
.icon-behance:before {
  content: "\e91c";
}
